body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  text-align: center;
  background: linear-gradient(#011936, #c0dfa1);
}

#wrapper {
  background: #011936;
  width: 720px;
  margin: 0 auto;
}
img {
  width: 100px;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("images/Vancouver.jpg") no-repeat;
  background-size: cover;
  height: 323px;
}

#heading-text {
  font-weight: 600;
  background: #465362;
  padding: 8px 16px;
  color: white;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 1px black;
  font-size: 30px;
  margin: 0 0 10px 0;
  text-shadow: 0 0 1px #465362;
}

#sub-heading-text {
  background: #82a3a1;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  color: white;
  display: inline-block;
  width: 500px;
  box-shadow: 0 0 1px black;
  text-shadow: 0 0 1px #465362;
}

#activities-section {
  background: #c0dfa1;
  padding-bottom: 50px;
}

.activity-container {
  width: 230px;
}

#activities-text {
  text-align: center;
  margin: 0;
  padding: 45px 0 50px;
  color: #465362;
}

.activity-text {
  font-weight: 200;
}

.activity-heading {
  font-weight: 600;
}

#activities-img-container {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  column-gap: 20px;
}
.activity-img {
  border-radius: 50%;
  border: 1px solid #82a3a1;
}
.frame {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.zoomIn img {
  width: 100px;
  height: 100px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.zoomIn img:hover {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
#guide-section {
  color: white;
  padding-bottom: 5px;
}

#guide-container {
  display: flex;
  align-items: center;
  width: 500px;
  margin: 70px auto;
  border-bottom: 8px solid #c0dfa1;
  border-radius: 10px;
  background: #82a3a1;
}

#profile-img {
  width: 200px;
  border-radius: 10px;
  margin: 20px 10px 20px;
  border: 2px solid #c0dfa1;
}

#guide-text {
  margin: 20px;
  font-weight: 200;
}
